.App header {
  color: rgb(33, 33, 33);
  margin: 24px 0 15px 0;
  font-size: 42px;
  font-weight: 600;
  line-height: 29px;
}

.App footer {
  text-align: center;
  margin: 30px 0;
  font-size: 12px;
}
